.achievement {
  position: fixed;
  left: 0px;
  bottom: 0px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.9);
  z-index: 5000;
  pointer-events: none;
}

.achievement h3 {
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  font-size: 10pt;
}

.achievement p {
  color: #B2E725;
  margin: 0;
  padding: 0;
  font-size: 24pt;
}
