html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #414244;
  min-width: 800px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #f9dee3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9dee3), to(white));
  background-image: -webkit-linear-gradient(top, #f9dee3, white);
  background-image: -moz-linear-gradient(top, #f9dee3, white);  
  background-image: -o-linear-gradient(top, #f9dee3, white);
}

header {
  height: 100px;
  background-color: #aa4d9d;
  position: relative;
  display: block;                     /* Needed on IE8 for some reason. */
  box-shadow: 0px 5px 10px #414244;
}

header h1 {
  font-family: 'BebasRegular';
  font-weight: normal;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0px;
}

header a {
  color: inherit;
  text-decoration: none;
}

header h1 span.logo {
  font-family: 'TrashHandRegular';
  font-size: 50px;
  padding-right: 10px;
  color: white;
}

section {
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  bottom: 40px;
}

div.editor-actions {
  visibility: visible;
  position: absolute;
  right: 20px;
  top: 20px;
}

header button {
  background: #414244;
  box-shadow: none;
}

button {
  font-family: 'BebasRegular';
  font-size: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 5px 5px 10px #414244;
}

button:hover {
  text-decoration: underline;
}

footer {
  background: #414244;
  color: #a0a0a0;
  text-align: center;
  font-size: 11px;
  padding-top: 8px;
  padding-bottom: 12px;
  position: absolute;
  height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

footer a {
  color: #e0e0e0;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

div#source, div#preview-holder {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  top: 10px;
}

div#preview-holder {
  right: 0px;
  border-left: 1px solid black;
  background: white;
}

iframe#preview {
  border: none;
  width: 100%;
  height: 100%;
}

div#source .CodeMirror, div#source .CodeMirror-scroll {
  height: 100%;
}

div#source .CodeMirror-gutter {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.0;
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}

div#source:hover .CodeMirror-gutter {
  opacity: 1.0;
}

.error p {
  margin: 0px;
  display: inline-block;
}

.error em[data-highlight] {
  font-style: normal;
  cursor: pointer;
}

.error em.highlight-1, .CodeMirror span.highlight-1 {
  color: black;
  background: yellow;
}

.error em.highlight-2, .CodeMirror span.highlight-2 {
  color: white;
  background: gray;
}

.CodeMirror span.cursor-help-highlight {
  background: rgba(0, 0, 0, 0.1);
}

code {
  font-family: Menlo, Monaco, consolas, monospace;
  font-size: smaller;
}

.help a {
  color: inherit;
}

.help a.learn-more {
  display: inline-block;
  text-decoration: none;
  padding: 1px 2px 1px 2px;
  margin: 0px 2px 0px 2px;
  font-size: smaller;
  background: lightgray;
  color: #222222;
}

.help a.learn-more:hover {
  background: white;
  color: black;
}

#publish-dialog {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  color: white;
  z-index: 1000000;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#publish-dialog a {
  color: inherit;
}
