/* Open Sans font styles */
@import url("opensans/stylesheet.css");

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #414244;
  min-width: 800px;
}

body {
  font-family: "Myriad Pro", "myriad-pro", Helvetica, Arial, sans-serif;
  overflow: hidden;

  /* background-color: red; */
  background-color: #F5F5F5;
}

img {
    border: 0 none;
}

#header {
  position: fixed;
  z-index: 2;
  top: 0;

  background: #f5f5f5;
  background-image: url("../img/header-gradient.png");
  background-position: 0px 0px;

  height: 120px;    /* height value must correspond with section.top */
  width: 100%;
  margin: 0px;
  padding: 0px;

  -webkit-box-shadow: 0px 5px 5px 0px rgba(233,233,233,0.5);
  box-shadow: 0px 5px 5px 0px rgba(233,233,233,0.5);
  
  border-top: 2px solid white;
  border-bottom: 1px solid #D6D6D6;
}


#header .logo {
  display: inline-block;
  font-family: OpenSansLight, sans-serif;
  margin-left: 15px;
  margin-top: 10px;
  width: 200px;
}

#header .logo a {
  color: #27AAE1;
  text-decoration: none;
}

#header .logo label {
  position: relative; 
  height: 0px;
  top: -3.5em;
  left: 3.5em;
  font-size: 90%;
}

#nav-options {
  position: absolute;
  display: block;
  top: 79px;
  width: 100%;
  height: 0px;
}

#editor-pane-nav-options {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  border-right: 1px solid #D6D6D6;
  z-index: 2;

  height: 41px;
}

#preview-pane-nav-options {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 1;
}

#nav-options .nav-item {
  display: table-cell;
  border-right: 1px solid #D6D6D6;
  height: 41px;
  width: 90px;
  text-align: center;
  vertical-align: middle;
  color: black;
  opacity: 0.3;
  padding: 0px 5px;
  white-space: nowrap;
  cursor: pointer;
}

#nav-options .nav-item:hover {
  opacity: 1;
}

#nav-options .nav-button {
  display: inline;
  height: 30px;
  border-radius: 15px;
  padding: 5px 15px;
  margin: auto;
  color: white;
  margin: 0px 0.5em;
}

#save-draft-button {
  background-color: #00D67D;
} 

#publish-button {
  background-color: #3A84FC;
}


#nav-options .nav-button:hover {
  /* do what? */
}

#nav-options .nav-button span {
  position: relative;
  top: 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.1);
  margin-right: -9px;
  background-image: url("../img/button-arrow.png");
  background-position: 9px 5px;
  background-repeat: no-repeat;
}

#nav-options .nav-item.buttons {
  position: absolute;
  top: 10px;
  right: 0;
  width: 7em;
  opacity: 1;
}

#nav-options .nav-item.enabled {
  opacity: 1 !important;
  color: #000;
}

/* ------ nav button stylings ------ */

#editor-nav-item {
  background-image: url("../img/editor-icon.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 30px !important;
}

#preview-nav-item {
  background-image: url("../img/preview-icon.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 30px !important;
}

#editor-nav-item .pane-indicator,
#preview-nav-item .pane-indicator {
  position: absolute;
  background-image: url("../img/indicator-arrow.png");
  top: 38px;
  left: 20px;
  width: 30px;
  height: 17px;
}

#undo-nav-item {
  background-image: url("../img/undo-grey.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 20px !important;
}

#redo-nav-item {
  background-image: url("../img/redo-grey.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 20px !important;
}

#text-nav-item {
  background-image: url("../img/text-size.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 35px !important;
}

#hints-nav-item.on:before {
  content: "☐ ";
}

#hints-nav-item.off:before {
  content: "☑ ";
}


/* ------ CONTENT AREA ------ */

section {
  position: absolute;
  top: 110px;       /* corresponds to #header.height */
  left: 0px;
  right: 0px;
  bottom: 0px;    /* corresponds to 20 + footer.height */
}

#editor.loading, #editor.loading .CodeMirror-cursor {
  visibility: hidden;
}

div.editor-actions {
  visibility: visible;
  position: absolute;
  right: 20px;
  top: 20px;
}

footer {
  background-color: #FFFFFF;
  color: white;
  
  text-align: left;
  font-size: 110%;
  padding-top: 8px;
  padding-bottom: 12px;
  position: absolute;

  height: 0px;    /* corresponds to section.bottom - 20 */
  bottom: 0px;
  left: 0px;
  right: 0px;
  
  border-top: 1px solid black;
  opacity: 0; /* temporary solution, because the spacing depends on having a footer */
  
}

/**
 * The footer pin is responsible for making the footer "stay up"
 * when pressed. If not pressed, the footer disappears when there
 * are no errors.
 **/
#footer-pin {
  position: fixed;
  right: 60px;
  margin-top: -30px;
  height: 40px;
  width: 40px;
  background-color: #4AABE2;
  background-image: url("../img/pin-temp.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor:pointer;
}

#source {
  background-color: #F9F9F9;
  z-index: 1;
}

#source, #preview-holder {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  top: 10px;
}


#source-guide-note, #preview-guide-note {
  font-family: Georgia;
  text-align: center;
  font-size: 120%;
  height: 25px;
  width: 40%;
  margin: 5px;
  background-color: rgb(255,255,150);
  border: 1px solid black;
  /*border-width: 0px 0px 1px 0px;*/
  padding-top: 0.3em;
  line-height: 1em;
  color: #006;
  background-color: rgb(255,250,150);
  z-index: 1000000;
}

#source-guide-note {
  position: fixed;
  top: 95px;
  left: 5%;
}

#preview-guide-note {
  position: fixed;
  bottom: 60px;
  right: 5%;
}


#preview-holder {
  right: 0px;
  border-left: 1px solid #D6D6D6;
  background: white;
  background-color: #F9F9F9;
  padding: 10px;
}

#preview {
  border: 1px solid #D6D6D6;
  width: 100%;
  height: 100%;
}

#source .CodeMirror, #source .CodeMirror-scroll {
  height: 100%;
  overflow: auto;
}

#source .CodeMirror-gutter {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.0;
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}

#source:hover .CodeMirror-gutter {
  opacity: 1.0;
}

/* ------ ERRORS AND HELP MESSAGE STYLING ------ */

.error,
.help {
  display: block;
  position: absolute;
  top: 0px;
  left: 100px;
  
  width: 450px;
  height: 100px;
  background-color: #FDFDFD;
  border: 5px solid #D6D6D6;
  margin: 10px;
  margin-top: -10px;
  white-space: normal;
}

.error {
  border: 5px solid red;
}

.help {
  border: 5px solid rgb(0,130,255);
}

.error p {
  display: inline;
}

.error .icon,
.help .icon {
  display: inline-block;
  width: 80px;
  height: 100px;
  border-right: 1px solid #C0C0C0;
  text-align: center;
  vertical-align: middle;
}

.error .content,
.help .content {
  display: inline-block;
  width: 362px;
  height: 100px;
  vertical-align: top;
  overflow: auto;
}

.error .icon img,
.help .icon img {
}

b {
  font-family: OpenSansRegular, sans-serif;
}

.error a,
.help a  {
  color: rgb(0,130,255);
  font-weight: bold;
}

.error strong,
.help strong {
  color: rgb(0,130,255);
  font-weight: bold;
  font-size: 110%;
}
.error code,
.help code {
  color: rgb(0,130,255);
  font-weight: bold;
  font-size: 110%;
}
.error em[data-highlight],
.help em[data-highlight] {
  color: rgb(0,130,255);
}

.error em.highlight-1,
.help em.highlight-1,
.CodeMirror span.highlight-1 {
  color: black;
  background: yellow;
}

.error em.highlight-2,
.help em.highlight-2,
.CodeMirror span.highlight-2 {
  color: white;
  background: gray;
}

