/*

  A note on fonts: we use a typekit-supplied version of Adobe's
  Myriad Pro, which can be slightly different from the various
  versions of Myriad Pro that people may have installed because
  they use Adobe products. In order to prevent version collision
  we actively do not use "font-family: "Myriad Pro", "myriad-pro", ..."
  because this will prefer the local version over the remote
  version, against which the design was validated. If you want
  to optimise the CSS's font usage, please bear this in mind.

*/

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #414244;
}

body {
  font-family: "myriad-pro", Helvetica, Arial, sans-serif;
  overflow: hidden;

  /* background-color: red; */
  background-color: #F5F5F5;
}

img {
    border: 0 none;
}

#header {
  position: fixed;
  z-index: 2;
  top: 0;

  background: #f5f5f5;
  background-image: url("../img/header-gradient.png");
  background-position: 0px 0px;

  height: 120px;    /* height value must correspond with section.top */
  width: 100%;
  margin: 0px;
  padding: 0px;

  -webkit-box-shadow: 0px 5px 5px 0px rgba(233,233,233,0.5);
  box-shadow: 0px 5px 5px 0px rgba(233,233,233,0.5);

  border-top: 2px solid white;
  border-bottom: 1px solid #D6D6D6;
}


#header .logo {
  display: inline-block;
  font-family: OpenSansLight, sans-serif;
  margin-left: 15px;
  width: 200px;
}

#header .logo a {
  color: #27AAE1;
  text-decoration: none;
}

#header .logo label {
  position: relative;
  height: 0px;
  top: -3.5em;
  left: 3.5em;
  font-size: 90%;
}

#nav-options {
  font-family: "myriad-pro", Helvetica, Arial, sans-serif;
  font-size: 12px;

  position: absolute;
  display: block;
  top: 79px;
  width: 100%;
  height: 0px;
}

#editor-pane-nav-options {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  border-right: 1px solid #D6D6D6;
  z-index: 2;
  height: 41px;
}

#preview-pane-nav-options {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 1;
}

#nav-options .nav-item {
  display: table-cell;
  height: 41px;
  text-align: center;
  vertical-align: middle;
  color: black;
  opacity: 0.3;
  padding: 0px 5px;
  padding-right: 2em;
  white-space: nowrap;
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  #nav-options .responsive,
  #nav-options .responsive:hover,
  #nav-options .nav-item.responsive.enabled {
    max-width: 30px;
    overflow: hidden;
    background-position: center center;
    color: transparent !important;
  }
  #nav-options .nav-item ul,
  #nav-options .nav-item ul li {
    max-width: 999px !important;
    width: auto !important;
    padding-right: 1em;
    color: black;
  }
  #nav-options .nav-item {
    border: none;
  }
}

@media screen and (max-width: 755px) {
  #editor-pane-nav-options {
    border: none;
  }
  #preview-pane-nav-options {
   left: 65%;
  }
  #preview-nav-item .icon {
    margin-right: 0px !important;
  }
  #preview-nav-item {
    border-left: 1px solid #D6D6D6 !important;
    border-right: 1px solid #D6D6D6 !important;
    padding-right: 10px !important;
  }
  #nav-options .nav-item.buttons {
    right: 30% !important;
  }
  #hints-nav-item {
    margin-left: 0px !important;
    left: 300px !important;
  }
}

@media screen and (max-width: 590px) {
  #editor-nav-item.nav-item,
  #preview-nav-item.nav-item {
    display: none !important;
  }
  #hints-nav-item {
    left: 180px !important;
  }
  #tabzilla {
    right: 16% !important;
  }
}

@media screen and (max-width: 420px) {
  #preview-pane-nav-options > div.nav-item.buttons {
    left: 0% !important;
    right: auto !important;
  }
}

#nav-options #editor-nav-item.nav-item,
#nav-options #preview-nav-item.nav-item {
  cursor: default;
}

#nav-options .nav-item.enabled,
#nav-options .nav-item:hover {
  opacity: 1;
  color: #3D59FE;
}

#nav-options .nav-item ul li {
  opacity: 1;
  color: #666;
}

#nav-options .nav-item ul li:hover {
  color: #666;
}

#nav-options .nav-button {
  display: inline;
  height: 30px;
  border-radius: 15px;
  padding: 6px 20px 4px 15px;
  margin: auto;
  color: white;
  top: 0px;
}

#save-draft-button {
  background-color: #00D67D;
}

#preview-pane-nav-options > div.nav-item.buttons {
  cursor: default;
}

#publish-button {
  position: relative;
  top: 2px;
  background-color: #3A84FC;
  background-image: url("../img/publish-button-right.png"), url("../img/publish-button-left.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, top left;

  opacity: 0.4;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;

  font-size: 16px;
  font-weight: bold;
}

#publish-button.enabled {
  opacity: 1.0;
  cursor: pointer;
}

#nav-options .nav-item.buttons {
  position: absolute;
  top: 10px;
  right: 0;
  width: 7em;
  opacity: 1;
}

/* ------ nav button stylings ------ */

#editor-nav-item,
#preview-nav-item {
  font-weight: bold;
  font-size: 14px;
}

#editor-nav-item .icon,
#preview-nav-item .icon {
  display: inline-block;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1em;
}

#editor-nav-item .icon {
  background-image: url("../img/editor-icon.png");
}

#nav-options #editor-nav-item.nav-item.enabled {
  color: black;
}

#preview-nav-item .icon {
  background-image: url("../img/preview-icon.png");
}

#nav-options #preview-nav-item.nav-item.enabled {
  color: black;
}

#preview-nav-item .preview-title {
  font-weight: bold;
  display: none;
}

#preview-nav-item .preview-title:before {
  content: ' for ';
  font-weight: normal;
}

#editor-nav-item .pane-indicator,
#preview-nav-item .pane-indicator {
  position: absolute;
  background-image: url("../img/indicator-arrow.png");
  top: 38px;
  left: 16px;
  width: 30px;
  height: 17px;
}

#undo-nav-item .icon {
  display: inline-block;
  width: 30px;

  background-image: url("../img/undo-grey.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#undo-nav-item.enabled .icon,
#undo-nav-item:hover .icon {
  background-image: url("../img/undo-blue.png");
}

#redo-nav-item .icon {
  display: inline-block;
  width: 30px;

  background-image: url("../img/redo-grey.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#redo-nav-item.enabled .icon,
#redo-nav-item:hover .icon {
  background-image: url("../img/redo-blue.png");
}

#text-nav-item .icon {
  display: inline-block;
  width: 40px;

  background-image: url("../img/text-size.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#text-nav-item:hover .icon {
  background-image: url("../img/text-size-blue.png");
}

#text-size-options {
  position: absolute;
  display: none;
  list-style: none;
  text-align: left;
  padding-top: 14px;
}

#text-nav-item ul {
  margin: 0px;
  padding: 0px;
  padding-top: 35px;
}

#text-nav-item li {
  background-color: white;
  border: 1px solid C0C0C0;
  border-top: none;
  padding: 10px;

  background-repeat: no-repeat;
  background-position: 0px center;
  padding-left: 40px;
  width: 60px;

  border: 1px solid #D6D6D6;
  margin-top: -1px;
}

#text-size-options li.selected {
  background-color: #F4F4F4;
}

#text-size-options li:hover {
  background-color: rgb(200,235,255);
}

#text-size-options li[data-size=small] {
  background-image: url("../img/text-size-small.png");
  font-size: 12px; /* MUST sync up with values used in fc/ui/text.js */
}
#text-size-options li[data-size=normal] {
  background-image: url("../img/text-size-normal.png");
  font-size: 14px; /* MUST sync up with values used in fc/ui/text.js */
}
#text-size-options li[data-size=large] {
  background-image: url("../img/text-size-large.png");
  font-size: 18px; /* MUST sync up with values used in fc/ui/text.js */
}

#hints-nav-item {
  left: 100%;
  margin-left: -90px;
  position: absolute;
  top: 13px;

  color: #3D59FE !important;
  opacity: 1 !important;
}

#hints-nav-item.on:before {
  content: "☑ ";
  color: black !important;
}

#hints-nav-item.off:before {
  content: "☐ ";
  color: black !important;
}


/* ------ CONTENT AREA ------ */

section {
  position: absolute;
  top: 110px;       /* corresponds to #header.height */
  left: 0px;
  right: 0px;
  bottom: 0px;    /* corresponds to 20 + footer.height */
}

#editor.loading, #editor.loading .CodeMirror-cursor {
  visibility: hidden;
}

div.editor-actions {
  visibility: visible;
  position: absolute;
  right: 20px;
  top: 20px;
}

footer {
  background-color: #FFFFFF;
  color: white;

  text-align: left;
  font-size: 110%;
  padding-top: 8px;
  padding-bottom: 12px;
  position: absolute;

  height: 0px;    /* corresponds to section.bottom - 20 */
  bottom: 0px;
  left: 0px;
  right: 0px;

  border-top: 1px solid black;
  opacity: 0; /* temporary solution, because the spacing depends on having a footer */

}

/**
 * The footer pin is responsible for making the footer "stay up"
 * when pressed. If not pressed, the footer disappears when there
 * are no errors.
 **/
#footer-pin {
  position: fixed;
  right: 60px;
  margin-top: -30px;
  height: 40px;
  width: 40px;
  background-color: #4AABE2;
  background-image: url("../img/pin-temp.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor:pointer;
}

#source {
  background-color: #F9F9F9;
  z-index: 1;
}

#source, #preview-holder {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  top: 10px;
}


#source-guide-note, #preview-guide-note {
  font-family: Georgia;
  text-align: center;
  font-size: 120%;
  height: 25px;
  width: 40%;
  margin: 5px;
  background-color: rgb(255,255,150);
  border: 1px solid black;
  /*border-width: 0px 0px 1px 0px;*/
  padding-top: 0.3em;
  line-height: 1em;
  color: #006;
  background-color: rgb(255,250,150);
  z-index: 1000000;
}

#source-guide-note {
  position: fixed;
  top: 95px;
  left: 5%;
}

#preview-guide-note {
  position: fixed;
  bottom: 60px;
  right: 5%;
}


#preview-holder {
  right: 0px;
  border-left: 1px solid #D6D6D6;
  background: white;
  background-color: #F9F9F9;
  padding: 10px;
}

#preview-holder iframe {
  border: 1px solid #D6D6D6;
  width: 100%;
  height: 100%;
  background-color: white;
}

#source .CodeMirror, #source .CodeMirror-scroll {
  height: 100%;
  overflow: auto;
}

#source .CodeMirror-gutter {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.0;
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}

#source:hover .CodeMirror-gutter {
  opacity: 1.0;
}

html .tipsy {
  /* Make tipsy tooltips slightly larger than the default. */
  font-size: 12px;
}
