/* ------ ERRORS AND HELP MESSAGE STYLING ------ */

html .flipped {
  margin-top: -180px;
}

html .help:not(.flipped) .up-arrow,
html .error:not(.flipped) .up-arrow {
  display: block;
}

html .flipped .down-arrow {
  display: block;
}

.error,
.help {
  display: block;
  position: absolute;
  
  /* Force the left side of the message to be on the left side of the
   * editing area. CodeMirror.addWidget() will set the left side on the
   * style attribute of the widget to be where the relevant character is,
   * and we want to override that. */
  left: 0 !important;

  width: 97%;
  height: 140px;
  background-color: #FDFDFD;
  margin: 10px;
  margin-top: 20px;
  padding: 4px;
  white-space: normal;

  border: 1px solid rgb(193,193,193);
  -webkit-box-shadow: 0 0 5px 1px #C1C1C1;
  box-shadow: 0 0 5px 1px #C1C1C1;
  font-family: "myriad-pro", Helvetica, Arial, sans-serif;
  
  z-index: 1000;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.error p {
  display: inline;
}

.error .icon,
.help .icon {
  display: inline-block;
  width: 20%;
  height: 100%;
  border-right: 1px solid #C0C0C0;
  text-align: center;
  vertical-align: middle;
  
  background-position: center center;
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.error .content,
.help .content {
  display: inline-block;
  width: 78%;
  height: 90%;
  vertical-align: top;
  overflow: auto;
  padding: 5px;
  font-size: 14px;
  line-height: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.error .icon {
  background-image: url("../img/error.png");
}
.help .icon {
  background-image: url("../img/help.png");
}

b {
  font-family: OpenSansRegular, sans-serif;
}

.error a,
.help a  {
  color: #FF2A04;
  font-weight: bold;
}

.error strong,
.help strong {
  color: #FF2A04;
  font-weight: bold;
  font-size: 110%;
}

.error code,
.help code {
  color: #FF2A04;
  font-weight: bold;
  font-size: 110%;
}

.error em[data-highlight],
.help em[data-highlight] {
  color: #FF2A04;
}

.error em.highlight-1,
.help em.highlight-1,
.CodeMirror span.highlight-1 {
  background: yellow;
}

.error em.highlight-2,
.help em.highlight-2,
.CodeMirror span.highlight-2 {
  color: white;
  background: orange;
}

.error .down-arrow,
.help .down-arrow,
.error .up-arrow,
.help .up-arrow {
  position: absolute;
  display: none;
  width: 40px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 20px;
}

.error .down-arrow,
.help .down-arrow {
  top: 138px;
  background-image: url("../img/hint-down-arrow.png");
}

.error .up-arrow,
.help .up-arrow {
  top: -22px;
  background-image: url("../img/hint-up-arrow.png");
}