/*	Oh yes, your Gumdrop Buttons
	SEE http://people.mozilla.org/~smartell/sandstone/screen.css
	------------------	*/

.button {
	float: left;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
	font: 14px/48px 'OpenSansLight', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	letter-spacing: -0.25px;
	line-height: 2em;
	text-align: center; 

	padding: 0px;
	height: 2em;

	color: white;
	background-color: #81BC2E; 
	border-bottom: none;

	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;

	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1); 

	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #81BC2E 0%, #659C28 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #81BC2E 0%, #659C28 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #81BC2E 0%, #659C28 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #81BC2E), color-stop(1, #659C28));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #81BC2E 0%, #659C28 100%);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #81BC2E 0%, #659C28 100%);

	-webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
	-webkit-transition-duration: 0.25s;  
	-webkit-transition-delay: 0s;

	-moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
	-moz-transition-duration: 0.25s;  
	-moz-transition-delay: 0s;

	transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
	transition-duration: 0.25s;  
	transition-delay: 0s;
}

.button.blue {
	background-color: #0082DC;
	background-image: -ms-linear-gradient(top, #0082DC 0%, #00628C 100%);
	background-image: -moz-linear-gradient(top, #0082DC 0%, #00628C 100%);
	background-image: -o-linear-gradient(top, #0082DC 0%, #00628C 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0082DC), color-stop(1, #00628C));
	background-image: -webkit-linear-gradient(top, #0082DC 0%, #00628C 100%);
	background-image: linear-gradient(top, #0082DC 0%, #00628C 100%);
}

.button:hover {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12 px 24px 2px rgba(124,211,30,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px rgba(124,211,30,1);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px rgba(124,211,30,1); 

    -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
    -webkit-transition-duration: 0.25s;  
    -webkit-transition-delay: 0s;

    -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
    -moz-transition-duration: 0.25s;  
    -moz-transition-delay: 0s;

    transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
    transition-duration: 0.25s;  
    transition-delay: 0s;
}

.button.blue:hover {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12 px 24px 2px rgba(0,150,255,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px rgba(0,150,255,1);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px rgba(0,150,255,1); 
}

.button:active {
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2); 

    -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
    -webkit-transition-duration: 0.25s;  
    -webkit-transition-delay: 0s;

    -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
    -moz-transition-duration: 0.25s;  
    -moz-transition-delay: 0s;

    transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
    transition-duration: 0.25s;  
    transition-delay: 0s;
}
