/* jsbin - based on web inspector */
.cm-s-jsbin span.cm-keyword {color: #AA0D91;}
.cm-s-jsbin span.cm-atom {color: #219;}
.cm-s-jsbin span.cm-number {color: #164;}
.cm-s-jsbin span.cm-def {color: #00f;}
.cm-s-jsbin span.cm-variable {color: black;}
.cm-s-jsbin span.cm-variable-2 {color: #05a;}
.cm-s-jsbin span.cm-variable-3 {color: #0a5;}
.cm-s-jsbin span.cm-property {color: black;}
.cm-s-jsbin span.cm-operator {color: black;}
.cm-s-jsbin span.cm-comment {color: #236E25;}
.cm-s-jsbin span.cm-string {color: #C41A16;}
.cm-s-jsbin span.cm-meta {color: #555;}
.cm-s-jsbin span.cm-error {color: #f00;}
.cm-s-jsbin span.cm-qualifier {color: #555;}
.cm-s-jsbin span.cm-builtin {color: #30a;}
.cm-s-jsbin span.cm-bracket {color: #cc7;}
.cm-s-jsbin span.cm-tag {color: #881280;}
.cm-s-jsbin span.cm-attribute {color: #994500;}

.CodeMirror {
  font-family: Arial, Helvetica, monospace;
  font-weight: 200;
}

.CodeMirror .CodeMirror-lines {
  font-family: Arial, Helvetica, monospace;
  color: #333;
  font-size: 16px;
  line-height: 18px;
}

.CodeMirror textarea {
  font-family: Arial, Helvetica, monospace;
  font-size: 16px;
  line-height: 18px;
}

.CodeMirror-gutter {
  background-color: #EEEEEE !important;
  padding-right: 3px;
}

.CodeMirror-gutter-text {
  font-family: Menlo, Monaco, consolas, monospace;
  color: #A9A9A9;
  font-size: 12px;
  line-height: 18px;
}

.cm-s-jsbin span.cm-comment {
  font-family: Arial, Helvetica, monospace;
  background-color: white;
  color: #333;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px; /* keeping this 18 messes up alignment between gutter and lines */
}

.CodeMirror span.cursor-help-highlight,
.cursor-help-highlight {
  background-color: #d5ac85;
}

.CodeMirror-wrap .CodeMirror-scroll {
  overflow: hidden;
}

.CodeMirror-scroll.cm-s-jsbin {
  height: 100%;
}

.cm-tag {
  color: #3A85FF !important;
}

.CodeMirror-line-highlight {
  background-color: yellow !important;
  color: green;
}

.CodeMirror span.preview-to-editor-highlight {
  background-color: rgba(50,100,255,0.3);
}
