/**
 * Styling for webpagemaker editor modal dialogs
 */

.modal-overlay {
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.2); 
  height: 100%; 
  width: 100%;
}

.thimble-modal-menu {
  position: absolute;
  top: 140px;
  right: 8px;
  width: 425px;
  height: 145px;
  border: 1px solid #C0C0C0;
}

.thimble-blue-bar {
  background-color: #3A84FC;
}

.thimble-grey-bar {
  background-color: #F7F7F7;
}

.thimble-branding {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  top: -15px;
  left: 365px;
  background-color: inherit;

  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); 
  
  border: 1px solid #C0C0C0;
  border-width: 1px 0px 0px 1px;
  margin-bottom: 1.5em;
}

#modal-close-button {
  background-image: url("../img/modal-close-button.png");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 25px;
  top: 5px;
  width: 40px;
}

.thimble-menu-content {
  background-color: white;
  width: 100%;
}

.thimble-title {
  position: relative;
  top: -2em;
  text-align: center;
  
  background-color: rgba(0,130,255,0.2);
  color: black;
}

.thimble-blue-bar .thimble-title {
  color: white;
}

.thimble-title:before {
  content: "▾ ";
}

#confirm-dialog .thimble-title:before {
  content: "" !important;
}

.collapsed .thimble-title {
  color: white;
  background-color: rgb(0,130,255);

  vertical-align: middle;
  cursor: pointer;
}

.thimble-grey-bar .thimble-title {
  top: 0px;
  text-align: left;
  padding: 0.25em 1em;
  padding-left: 0px;
}

.thimble-url-box {
  background-color: #FFFFFF;
  color: blue;
  border: 1px solid #C0C0C0;
  height: 25px;
  width: 350px;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 1em;
  margin: 1em auto;
}

.thimble-url-box a {
  color: #50A5F8;
}

.thimble-url-box a:hover {
  color: blue;
}

.thimble-additionals {
  color: #222;
  text-align: justify;
  position: relative;
  padding: 2px 10px;
}

.thimble-additionals ul {
  list-style: none;
  text-align: center;
  margin: 1em 0px;
  padding: 0px;
}

.thimble-additionals ul li {
  display: table-cell;
  vertical-align: top;
  padding: 0px 5px;
}

.collapsed .thimble-title:before {
  content: "▸ ";
}


.collapsed .thimble-additionals {
  display: none;
}

.collapsed .thimble-url-box {
  display: none;
}



.thimble-grey-bar .thimble-additionals {
  padding: 0px 1em;
}

.thimble-additionals a {
  text-decoration: none;
  color: #3F9A31;
}

.thimble-additionals a:hover {
  color: #236819;
}

.confirmation-buttons {
  text-align: center;
  margin-top: 1.4em;
  height: 2em;
}

.confirmation-button {
  display: inline;
  height: 30px;
  border-radius: 10px;
  padding: 5px 15px;
  margin: auto;
  color: white;
  margin: 0px 1em;
  cursor: pointer;
}

.confirmation-button.yes-button {
  background-color: #1DBF84;
} 

.confirmation-button.no-button {
  background-color: #F14D2A;
}

.confirmation-button .mark {
  position: relative;
  top: 0px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.4);
  color: white;
  margin-right: -9px;
  background-repeat: no-repeat;
  background-position: center center;
}

.confirmation-button.yes-button .mark {
  background-image: url("../img/yes.png");
}

.confirmation-button.no-button .mark {
  background-image: url("../img/no.png");
}


.accordion {
  border-top: 1px solid #D6D6D6;
}