/**
 * Styling for webpagemaker editor modal dialogs
 */

.modal-overlay {
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.45); 
  height: 100%; 
  width: 100%;
}

.modal-box {
  width: 700px; 
  height: 480px; 
  position: relative; 
  top: 50%; 
  left: 50%; 
  margin-left: -350px; 
  margin-top: -240px; 
  background-color: #f2ebf2;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 8px 8px 5px 0px #000000;
  box-shadow: 8px 8px 5px 0px #000000;
}

.close-icon {
  text-align: right;
  position:relative;
  right:-30px;
  top:-25px;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  color: #666; 
  font-family: OpenSansRegular;
  font-size: 150%;
  letter-spacing: 1px;
}

.light-text {
  font-family: OpenSansLight
}

.button-bar {
  text-align: center;
}

#share-buttons {
  padding: 0px;
}

#share-buttons li {
  display: inline-block;
  margin: 0.5em;
  cursor: pointer;
}

.box-title {
  width: 350px;
  margin: auto;
}

.content-box {
  width: 300px;
  min-height: 100px;
  border: 20px solid #79a327;
  margin: auto;
  font-size: 80%;
  background-color: #F6F6F6;
  margin-top: 0.5em;
  padding: 0.5em;
}

.content-box a {
  font-family: OpenSansBold, sans-serif;
  color: #556;
  text-decoration: none;
  font-size: 140%;
}

.modal-selections {
  color: #666;
  font-family: OpenSansRegular;
}

.modal-selection {
  width: 340px;
  margin: auto;
  display: none;
}

#modal-source-code {
  width: 100%;
  min-height: 100px;
  font-size: 80%;
}

#share-buttons a {
  display: inline-block;
  vertical-align: top;
  min-width: 50px;
  min-height: 50px;
  line-height: 0; 
  font-size: 0;
  color: transparent;
}

#share-buttons a.twitter {
  background-image: url(../img/chopped/twitter.png);
}

#share-buttons a.twitter.selected {
  background-image: url(../img/chopped/selected/twitter.png);
}

#share-buttons a.facebook {
  background-image: url(../img/chopped/facebook.png);
}

#share-buttons a.facebook.selected {
  background-image: url(../img/chopped/selected/facebook.png);
}

#share-buttons a.google {
  background-image: url(../img/chopped/google.png);
}

#share-buttons a.google.selected {
  background-image: url(../img/chopped/selected/google.png);
}

#share-buttons a.link {
  background-image: url(../img/chopped/link.png);
}

#share-buttons a.link.selected {
  background-image: url(../img/chopped/selected/link.png);
}

#share-buttons a.email {
  background-image: url(../img/chopped/email.png);
}

#share-buttons a.email.selected {
  background-image: url(../img/chopped/selected/email.png);
}

#share-buttons a.download {
  background-image: url(../img/chopped/download.png);
}

#share-buttons a.download.selected {
  background-image: url(../img/chopped/selected/download.png);
}

.modal-selection.selected {
  display: block;
}
