
#tabzilla {
    background: url("http://www.mozilla.org/tabzilla/media/img/tab.png") repeat scroll 0 0 transparent;
    position: absolute;
    display: block;
    top: 0px;
    right: 6em;
    height: 45px;
    overflow: hidden;
    text-indent: -2000px;
    width: 150px;
    z-index: 999;
}

#tabzilla:after {
    -moz-transform: rotate(0deg);
    -moz-transition: all 0.2s ease-in-out 0s;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX%2F%2F%2F9ISEhr7AOpAAAAAXRSTlMAQObYZgAAACVJREFUCNdjYEACHAIMMhYMdjUM8j8Y%2BD8wsD9gYD7AwNiArAQAd4oFaCu14IQAAAAASUVORK5CYII%3D") repeat scroll 0 0 #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    content: "x";
    height: 16px;
    position: absolute;
    right: 23px;
    top: 11px;
    width: 16px;
}
