#tabzilla-panel {
    z-index: 9001;
    -webkit-box-shadow: 0 5px 25px 0 #444;
    box-shadow: 0 5px 25px 0 #444; 
    border-top: 2px solid white;
}

#tabzilla {
    z-index: 9001;
    right: 6em;
}

@media screen and (max-width: 620px) {
  #tabzilla {
    right: 16% !important;
  }
}
