<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <base target="_blank">
    <title>Friendlycode Editor</title>
    <link rel="stylesheet" href="codemirror2/lib/codemirror.css">
    <link rel="stylesheet" href="css/jsbin-codemirror-theme.css">
    <link rel="stylesheet" href="css/editor.css">
  </html>
  <body>
    <header>
      <a><h1><span class="logo">Friendlycode</span> Editor</h1></a>
      <div class="editor-actions">
        <button id="undo">Undo</button>
        <button id="redo">Redo</button>
        <button id="publish">Publish</button>
      </div>
    </header>

    <section id="editor" class="loading">
      <div id="source"></div>
      <div id="preview-holder">
        <iframe id="preview" src="blank.html"></iframe>
      </div>
    </section>

    <footer><div class="help"></div><div class="error"></div></footer>    
    
    <!-- modal overlay -->
    <div id="publish-dialog" style="display: none">
      <h1>Hold on a sec.</h1>
      <p>We are publishing your thing.</p>
      <div class="done">
        <p>Ok, we are done.</p>
        <p>View your thing at <a class="view" href="" target="_blank"></a>.</p>
        <p>Remix your thing at <a class="remix" href="" target="_blank"></a>.</p>
        <p><a class="close" href="#">Go back to the editor</a>.</p>
      </div>
    </div>
  </body>

<script type="text/html" id="help-template">
<%= html %>
<% if (type == "cssSelector") { %>
  <span class="selector-matches"> It currently matches <%- matchCount %> element(s).</span>
<% } %>
<a class="learn-more" href="<%- url %>">more…</a>
</script>

<script type="text/html" id="initial-html">
<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: white;
        color: #333;
        padding-top: 1em;
      }
      h1 {
        color: #333;
        font-family: Georgia;
        text-align: center;
        text-shadow: 2px 2px 3px #CCC;
      }
      p {
        text-align: justify;
        text-shadow: 2px 2px 3px #999;
      }
    </style>
  </head>
  <body>
    <h1>Let's remix the web! It's easy!</h1>

    <p>Remixing the web is easier than you think. A bit of styling
       here, an image replacement there, and suddenly a page can
       look completely different! Give it a try with some of our
       templates, or load your favourite site and let's get mixin'.</p>
  </body>
</html>
</script>

  <script src="js/jquery.min.js"></script>
  <script src="js/underscore.min.js"></script>
  <script src="js/backbone.min.js"></script>
  <script src="codemirror2/lib/codemirror.js"></script>
  <script src="codemirror2/mode/xml/xml.js"></script>
  <script src="codemirror2/mode/javascript/javascript.js"></script>
  <script src="codemirror2/mode/css/css.js"></script>
  <script src="codemirror2/mode/htmlmixed/htmlmixed.js"></script>
  <script src="slowparse/slowparse.js"></script>
  <script src="slowparse/tree-inspectors.js"></script>
  <script src="slowparse/spec/errors.jquery.js"></script>
  <script src="js/hacktionary-data.js"></script>
  <script src="js/help.js"></script>
  <script src="js/editor.js"></script>
  <script src="js/publish.js"></script>
</html>